<header>
    <div class="container-fluid">
        <nav class="navbar d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/home" id="nav-link">Home</a></li>
                <li class="nav-item"><a href="/comidas" id="nav-link">Comidas</a></li>
            </ul>
        </nav>
    </div>
</header>
