<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./includes/head') %>
</head>

<body>
    <%- include('./includes/header') %>
        <%- include('./includes/carousel') %>
            <main class="content-wrapper" style="margin-top: 80px !important">
                <div class="container" style="width: 95% !important">
                    <div class="row justify-content-md-center mb-5">
                        <div class="col-md-12 mt-5">
                            <h1 class="text-center title pb-3">
                                DeliFood
                            </h1>
                            <h2 class="text-center title">
                                Encuentra tu comida favorita!
                                <hr />
                            </h2>
                        </div>
                    </div>
                </div>
            </main>
            <section class="container col-xxl-8">
                <div class="row text-center">
                    <p>
                        En DeliFood, creemos que la comida es más que solo un sustento; es una experiencia que debe
                        disfrutarse en cada bocado. Nos esforzamos por ofrecerte platos únicos y deliciosos, elaborados
                        con ingredientes frescos y de la más alta calidad. Ya sea que estés buscando sabores
                        tradicionales o quieras explorar nuevas combinaciones, DeliFood es el lugar ideal para
                        satisfacer todos tus antojos. ¡Déjanos ser parte de tu rutina culinaria y descubrirás lo mejor
                        de la gastronomía!
                    </p>
                    <p class="autor">
                        Luz Adriana
                    </p>
                </div>
            </section>

            <%- include('./includes/scripts') %>
</body>

</html>